$body-color: white;
$thumbnail-height: 50px;
$frame-width: 90px;

body {
  color: $body-color;
}

html {
  background: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cont {
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  top: 25%;
}

.frame {
  margin: 0 10px;
  width: $frame-width;
}

.frame-selected {
  margin: 0 10px;
  width: $frame-width * 1.5;
}

.thumbnail {
  height: $thumbnail-height;
  width: 100%;
  background-color: grey;
}

.thumbnail-selected {
  height: $thumbnail-height * 1.5;
  border: 1px white solid;
  margin: 3px;
  background-color: lightgrey;
}

.hidden {
  opacity: 0;
}

.headline {
  margin: 0;
}

.headline-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  height: 120px;
  margin-bottom: 15px;
  text-align: center;
}

.desc {
  height: 60px;
}

.center {
  text-align: center;
}
